<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ACCB80;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ACCB80;
}

.show {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

fontsize {
  font-size: 40px;
}

namesize {
  font-size: 26px;
  color: #6394A0;
}

quote_font_size {
  font-family: Sans-Serif;
}



body { 
    background-color: white;
    font-weight: normal;
    font-style: normal;
  margin: 0;
  padding: 0;
  border: 0; }
  
h3 {
    font-family: serif, Times;
    font-size: 2em;
    color: #6394A0;
}

p {
   
    font-size: 1.3em;
    line-height: 1.5em;
    color: black, #ACCB80; 
    margin: 30px 0;
}
.image {
    background: url('http://i66.tinypic.com/25046xd.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

footer {
   background-color: #333;
   padding: 1px;
   width: 100%;
   text-align: center;
   color: white;
}

</style>
</head>
<body>
<img src="http://i63.tinypic.com/255tgk2.png" border="0" width=100% height=25% alt="Image and video hosting by TinyPic"> 
<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">Inspiration</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Fitness Plans
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="#">Toning Plan</a>
      <a href="#">Weight Loss</a>
      <a href="#">Muscle Gain</a>
      
    </div>
  </div> 
</div><br>

<center><img src="http://i68.tinypic.com/2qwzfck.png" width= 49% border="0" alt="Image and video hosting by TinyPic"></center><br>

<div class="center">
  <span style="font-size:100px;line-height:0.6em;opacity:0.2">&#10077;</span>
  <p class="quote_font_size" style="quote">
  <fontsize>
    <i>"...we are authentic to who we are and what we're passionate about, and that is key to finding the athlete inside of yourself"</i></p></fontsize>
 <namesize>
  <p>Karlie Kloss</p>
  </namesize>
</div>

<div class="image"></div>
   <section class="content">
    <h3>Fitness: It's Importance and Our Plans for You</h3>
    <p>In today's day in age, our world is moving at such a rapid pace that we often forget to train our bodies. Exercising 60 minutes a day can do so much to reguvinate and energize the human body. Even going for a simple walk through the park has the power to brighten your mood and your day. This webapge will help you decide which form of exercise you should try and help motivate you to reach your fitness goals. Whether your favorite form of exercise is HIIT (high intesnity interval training) or going for a nice bike ride, physical activty has the power to create a stronger version and the best version of you.   </p>

 
 <center><iframe width="900" height="400" src="https://www.youtube.com/embed/-suMQ6s53GM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center> <br> <br> <br>
 
<footer>
    <p>© 2018 Kode With Klossy</p>
  <footemail><center><table><tr>
    <td width="40%">19lworkosky@student.dasd.org</td>
    <td width="40%">madison@parkerworld.com</td>
    <td>sdandu99@gmail.com</td>
  </tr><tr><td width="40%">@workosky</td><td width="40%">@madisonparke.r</td><td>@siri_dandu</td></tr></table></center></footemail>
</footer>

</body>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
</body>
</html>