<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<body>
<style>

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ACCB80;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ACCB80;
}

.show {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

fontsize {
  font-size: 40px;
}

namesize {
  font-size: 26px;
  color: #6394A0;
}

quote_font_size {
  font-family: Sans-Serif;
}



body { 
    background-color: white;
    font-weight: normal;
    font-style: normal;
  margin: 0;
  padding: 0;
  border: 0; }
  
h3 {
    font-family: serif, Times;
    font-size: 2em;
    color: #333;
}

p {
    font-family: sans-serif, Times;
    font-size: 1.3em;
    line-height: 1.5em;
    color: black, #ACCB80; 
    margin: 30px 0;
}
.image {
    background: url('http://i67.tinypic.com/155kxmt.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

footer {
   background-color: #333;
   padding: 1px;
   width: 100%;
   text-align: center;
   color: white;
}

</style>
</head>
<body>
<img src="http://i63.tinypic.com/255tgk2.png" border="0" width=100% height=25% alt="Image and video hosting by TinyPic"> 
<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">Inspiration</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Fitness Plans
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="#">Toning Plan</a>
      <a href="#">Weight Loss</a>
      <a href="#">Muscle Gain</a>
      
    </div>
  </div> 
</div><br>


<center><img src="http://i67.tinypic.com/3029i5d.png" width= 49% border="0" alt="Image and video hosting by TinyPic"></center><br>


<div class="center">
 
  <p class="quote_font_size" style="quote">
  <fontsize>
    
 <namesize>
 
  </namesize>
</div>

<div class="image"></div>
   <section class="content">
    <h3>Toning</h3>
    <p>Toning is an excellent form of excerise that focuses on specific msucle groups in you body. With toning, specific body parts are targeted. By targeting these loctions, msucle groups become defined and have a 'sleek' appeal. Toning can be achived by taking classes at your local gym, with barre workouts, or even pilates. Below are some youtube videos that allow for you to tone in your own home! Also, below are some tips from fitness professionals katrina and karina from tone it up on how to stay lean through toning.  </p>

<h1>
 Videos for Toning Exercises and Tips
</h1>

<iframe width="470" height="315" src="https://www.youtube.com/embed/_ZqtZSuh5Rk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 

<iframe width="470" height="315" src="https://www.youtube.com/embed/0pJ70Ls6RiU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br> <br>

<iframe width="470" height="315" src="https://www.youtube.com/embed/AQ4rQEQr6b4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="470" height="315" src="https://www.youtube.com/embed/17DxIBjMygE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section><br><br><br>


<footer>
    <p>© 2018 Kode With Klossy</p>
  <footemail><center><table><tr>
    <td width="40%">19lworkosky@student.dasd.org</td>
    <td width="40%">madison@parkerworld.com</td>
    <td>sdandu99@gmail.com</td>
  </tr><tr><td width="40%">@workosky</td><td width="40%">@madisonparke.r</td><td>@siri_dandu</td></tr></table></center></footemail>
</footer>

</body>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
</body>
</html>