<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<body>
<style>

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ACCB80;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ACCB80;
}

.show {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

fontsize {
  font-size: 40px;
}

namesize {
  font-size: 26px;
  color: #6394A0;
}

quote_font_size {
  font-family: Sans-Serif;
}



body { 
    background-color: white;
    font-weight: normal;
    font-style: normal;
  margin: 0;
  padding: 0;
  border: 0; }
  
h3 {
    font-family: serif, Times;
    font-size: 2em;
    color: #333;
}

p {
    font-family: sans-serif, Times;
    font-size: 1.3em;
    line-height: 1.5em;
    color: black, #ACCB80; 
    margin: 30px 0;
}
.image {
    background: url('http://i65.tinypic.com/w8wcuo.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

footer {
   background-color: #333;
   padding: 1px;
   width: 100%;
   text-align: center;
   color: white;
}

</style>
</head>
<body>
<img src="http://i63.tinypic.com/255tgk2.png" border="0" width=100% height=25% alt="Image and video hosting by TinyPic"> 
<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">Inspiration</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Fitness Plans
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="#">Toning Plan</a>
      <a href="#">Weight Loss</a>
      <a href="#">Muscle Gain</a>
      
    </div>
  </div> 
</div><br>

<center><img src="http://i67.tinypic.com/33124qc.png" border="0" alt="Image and video hosting by TinyPic"></a></center>



<div class="center">
 
  <p class="quote_font_size" style="quote">
  <fontsize>
    
 <namesize>
 
  </namesize>
</div>

<div class="image"></div>
   <section class="content">
    <h3>Weight Loss</h3>
    <p>Weight Loss is something women all over the world struggle with whether its becasue they don't have enough time to workout or struggle with dietary restrctions. SML knows that losing weight is a sruggle so below we have complied the benefits of cardio exercising and some youtube videos to help and inspire you.</p> <br>
    <h4><b>RUNNING</b></h4>
    <p> Running is an excellent form of cardiovascular activity. Cardiovascular (or Cardio) acivity is an excellet form of exercsie to increase your heartrate and endurance. Cardio also is a great way to burn fat in a healthy, safe matter. Start off today by going for a simple one mile run which should take about 8 to 12 minutes. Then slowly overtime add small distances at a time with recovery days in between (as well as off days;)). Use this helpful do's and dont's video to help you start of your run today! </p> 
    <h4><b>HIIT</b></h4>
    <p> High Intensity Interval Training (HIIT) is a relativley new method of exercise. HIIT has been porven to burn a high amount of calories in a short amount of time. Also, while doing HIIT, blood sugar levels can be reduced to healthy levels. HIIT is also a form of cardio so fat burn as wll as endurance are also results of routinely doing this workout. ( Watch the video to the left for an at-home HIIT workout)</p> 
    <h4><b>CYCLING</b></h4>
    <p>Cycling is also a form of cardiovasulcar exercise which has been proven to help with weight loss. Cycling is calssified as anything from going to a hardcore 60 minute spin class or going for a nice and easy bike ride around your local park. Either way, biking is an excellent way to burn those extra calories.</p> <br>
    <h4><b>ZUMBA</b></h4>
    <p>Zumba is an exercise that is fun and creative workout which is similar to dancing. The cardio and strength training exercise can be done at a professional gym/community center or in the comfort of your own home. Provided below is a Zumba workout for beginners to try out!</p>
<h1>
 Workouts and Tips on Weight Loss Exercises
</h1>



<iframe width="470" height="315" src="https://www.youtube.com/embed/8XiwtiDTlYU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="470" height="315" src="https://www.youtube.com/embed/8-59BJffDNc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br>

<iframe width="470" height="315" src="https://www.youtube.com/embed/ieSntJMxtPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="470" height="315" src="https://www.youtube.com/embed/HRkNfdlm5Qs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section><br><br><br>




<footer>
    <p>© 2018 Kode With Klossy</p>
  <footemail><center><table><tr>
    <td width="40%">19lworkosky@student.dasd.org</td>
    <td width="40%">madison@parkerworld.com</td>
    <td>sdandu99@gmail.com</td>
  </tr><tr><td width="40%">@workosky</td><td width="40%">@madisonparke.r</td><td>@siri_dandu</td></tr></table></center></footemail>
</footer>

</body>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
</body>
</html>